<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTournamentFranchisePointsLabel" jhiTranslate="fafiApp.tournamentFranchisePoints.home.createOrEditLabel">Create or edit a Tournament Franchise Points</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <fafi-alert-error></fafi-alert-error>
        <div class="form-group" [hidden]="!tournamentFranchisePoints.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tournamentFranchisePoints.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.tournamentFranchisePoints.points" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                [(ngModel)]="tournamentFranchisePoints.points" required/>
            <div [hidden]="!(editForm.controls.points?.dirty && editForm.controls.points?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.points?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.points?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.tournamentFranchisePoints.tournament" for="field_tournament">Tournament</label>
            <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="tournamentFranchisePoints.tournamentId"  required>
                <option *ngIf="!editForm.value.tournament" [ngValue]="null" selected></option>
                <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.type}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.tournament?.dirty && editForm.controls.tournament?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.tournament?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.tournamentFranchisePoints.franchise" for="field_franchise">Franchise</label>
            <select class="form-control" id="field_franchise" name="franchise" [(ngModel)]="tournamentFranchisePoints.franchiseId"  required>
                <option *ngIf="!editForm.value.franchise" [ngValue]="null" selected></option>
                <option [ngValue]="franchiseOption.id" *ngFor="let franchiseOption of franchises; trackBy: trackFranchiseById">{{franchiseOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.franchise?.dirty && editForm.controls.franchise?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.franchise?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
