
<div *ngIf="matchFranchise">
    <h2><span jhiTranslate="fafiApp.matchFranchise.detail.title">Match Franchise</span> {{matchFranchise.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.matchFranchise.match">Match</span></dt>
        <dd>
            <div *ngIf="matchFranchise.matchId">
                <a [routerLink]="['/match', matchFranchise.matchId]">{{matchFranchise.matchMatchNumber}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.matchFranchise.seasonsFranchise">Seasons Franchise</span></dt>
        <dd>
            <div *ngIf="matchFranchise.seasonsFranchiseId">
                <a [routerLink]="['/seasons-franchise', matchFranchise.seasonsFranchiseId]">{{matchFranchise.seasonsFranchiseFranchise}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'match-franchise/'+ matchFranchise.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
