<div class="footer">
    <!--<div class="container">-->
    <div class="row">
        <div class="col-md-4 logo cen">
            <h6><a href="#">FF-<span>Sports Council</span></a></h6>
        </div>
        <div class="col-md-4 cpyrt fltt">
            <p>Copyright &copy; 2017-18 - FF-Sports Council</p>
        </div>
        <div class="col-md-4 logo cen">
            <!--<h6 style="color: floralwhite">Contact : </h6>--><a href="mailto:ffsc@firstfuel.com">ffsc@firstfuel.com</a>
            <!--
            <div class="social">
                <ul>
                    <li><a href="#" class="face"></a></li>
                    <li><a href="#" class="twit"></a></li>
                    <li><a href="#" class="in"></a></li>
                    <li><a href="#" class="gpls"></a></li>
                    <li><a href="#" class="del"></a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <div class="clear"></div>
    <!--</div>-->
    <a href="#" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--<p jhiTranslate="footer">This is your footer</p>-->
</div>
