<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMatchPlayersLabel" jhiTranslate="fafiApp.matchPlayers.home.createOrEditLabel">Create or edit a Match Players</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <fafi-alert-error></fafi-alert-error>
        <div class="form-group" [hidden]="!matchPlayers.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="matchPlayers.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.matchPlayers.playerOfTheMatch" for="field_playerOfTheMatch">Player Of The Match</label>
            <input type="checkbox" class="form-control" name="playerOfTheMatch" id="field_playerOfTheMatch"
                [(ngModel)]="matchPlayers.playerOfTheMatch" />
            <div [hidden]="!(editForm.controls.playerOfTheMatch?.dirty && editForm.controls.playerOfTheMatch?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.playerOfTheMatch?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.matchPlayers.playerPointsEarned" for="field_playerPointsEarned">Player Points Earned</label>
            <input type="number" class="form-control" name="playerPointsEarned" id="field_playerPointsEarned"
                [(ngModel)]="matchPlayers.playerPointsEarned" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.matchPlayers.match" for="field_match">Match</label>
            <select class="form-control" id="field_match" name="match" [(ngModel)]="matchPlayers.matchId"  required>
                <option *ngIf="!editForm.value.match" [ngValue]="null" selected></option>
                <option [ngValue]="matchOption.id" *ngFor="let matchOption of matches; trackBy: trackMatchById">{{matchOption.matchName}}-{{matchOption.tournamentType}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.match?.dirty && editForm.controls.match?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.match?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.matchPlayers.seasonsFranchisePlayer" for="field_seasonsFranchisePlayer">Seasons Franchise Player</label>
            <select class="form-control" id="field_seasonsFranchisePlayer" name="seasonsFranchisePlayer" [(ngModel)]="matchPlayers.seasonsFranchisePlayerId"  required>
                <option *ngIf="!editForm.value.seasonsFranchisePlayer" [ngValue]="null" selected></option>
                <option [ngValue]="seasonsFranchisePlayerOption.id" *ngFor="let seasonsFranchisePlayerOption of seasonsfranchiseplayers; trackBy: trackSeasonsFranchisePlayerById">{{seasonsFranchisePlayerOption.playerFirstName +' ' +seasonsFranchisePlayerOption.playerLastName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.seasonsFranchisePlayer?.dirty && editForm.controls.seasonsFranchisePlayer?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.seasonsFranchisePlayer?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
