<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="about-para">
                <h1 class="text-capitalize text-center"
                    jhiTranslate="points-table.title">Title</h1>
            </div>
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-6 border" text-align: center>
                        <div>
                            <h3 class="text-capitalize text-center"
                                jhiTranslate="points-table.playerRanking">Title</h3>
                        </div>
                        <table class="table table-striped">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><span
                                            jhiTranslate="points-table.player.name">Name</span></th>
                                        <th><span
                                            jhiTranslate="points-table.player.points">Points</span></th>
                                        <th><span
                                            jhiTranslate="points-table.player.matches">Matches</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pp of pointsTablePlayer">
                                        <td>{{pp.firstName}}
                                            {{pp.lastName}}</td>
                                        <td>{{pp.totalPoints}}</td>
                                        <td>{{pp.totalMatches}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                    </div>
                    <div class="col-sm-6 border" text-align: center>
                        <div>
                            <h3 class="text-capitalize text-center"
                                jhiTranslate="points-table.teamRanking">Title</h3>
                                <table class="table table-striped">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><span
                                            jhiTranslate="points-table.franchise.name">Name</span></th>
                                        <th><span
                                            jhiTranslate="points-table.franchise.points">Points</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fp of pointsTableFranchise">
                                        <td>{{fp.name}}
                                        <td>{{fp.totalPoints}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
