
<div *ngIf="tieMatchPlayers">
    <h2><span jhiTranslate="fafiApp.tieMatchPlayers.detail.title">Tie Match Players</span> {{tieMatchPlayers.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.tieMatchPlayers.tieMatch">Tie Match</span></dt>
        <dd>
            <div *ngIf="tieMatchPlayers.tieMatch">
                <a [routerLink]="['/tie-match', tieMatchPlayers.tieMatch?.id]">{{tieMatchPlayers.tieMatch?.tieType}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatchPlayers.seasonsFranchisePlayer">Seasons Franchise Player</span></dt>
        <dd>
            <div *ngIf="tieMatchPlayers.seasonsFranchisePlayer">
                <a [routerLink]="['/seasons-franchise-player', tieMatchPlayers.seasonsFranchisePlayer?.id]">{{tieMatchPlayers.seasonsFranchisePlayer.player?.firstName +' ' +tieMatchPlayers.seasonsFranchisePlayer.player?.lastName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tie-match-players/'+ tieMatchPlayers.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
