<!--<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="contact-us.title">Title</h1>
    <h5 class="text-center" jhiTranslate="contact-us.subtitle">Subtitle</h5>
    <hr/>
    <p class="text-justify" jhiTranslate="contact-us.content">Content</p>
  </div>
  <div class="col-md-1"></div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <h6 class="text-right">{{message}}</h6>
        <div class="about-ff-council" id="about">
            <div class="container">
                <div class="about-para">
                    <h1 class="text-capitalize text-center" jhiTranslate="contact-us.title">Title</h1>
                    <h5 class="text-center" jhiTranslate="contact-us.subtitle">Subtitle</h5>
                    <hr/>
                    <p class="text-center" jhiTranslate="contact-us.content">Content</p>
                </div>
                <div class="col-md-12 grid cen">
                    <h4>Committee Members</h4>
                    <hr/>
                    <p>Ameeth P, Chandrashekhar B, Neerav K, Rohan D, Swati J.</p>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
</div>
