
<div *ngIf="tournament">
    <h2><span jhiTranslate="fafiApp.tournament.detail.title">Tournament</span> {{tournament.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.tournament.startDate">Start Date</span></dt>
        <dd>
            <span>{{tournament.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tournament.endDate">End Date</span></dt>
        <dd>
            <span>{{tournament.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tournament.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'fafiApp.Games.' + tournament.type}}">{{tournament.type}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tournament.season">Season</span></dt>
        <dd>
            <div *ngIf="tournament.seasonId">
                <a [routerLink]="['/season', tournament.seasonId]">{{tournament.seasonName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tournament.winningFranchise">Winning Franchise</span></dt>
        <dd>
            <div *ngIf="tournament.winningFranchiseId">
                <a [routerLink]="['/seasons-franchise', tournament.winningFranchiseId]">{{tournament.winningFranchiseFranchiseName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tournament.playerOfTournament">Player Of Tournament</span></dt>
        <dd>
            <div *ngIf="tournament.playerOfTournamentId">
                <a [routerLink]="['/seasons-franchise-player', tournament.playerOfTournamentId]">{{tournament.playerOfTournamentPlayerFirstName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
