
<div *ngIf="tieMatch">
    <h2><span jhiTranslate="fafiApp.tieMatch.detail.title">Tie Match</span> {{tieMatch.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.tieMatch.tieType">Tie Type</span></dt>
        <dd>
            <span jhiTranslate="{{'fafiApp.TieType.' + tieMatch.tieType}}">{{tieMatch.tieType}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatch.match">Match</span></dt>
        <dd>
            <div *ngIf="tieMatch.match">
                <a [routerLink]="['/match', tieMatch.match?.id]">{{tieMatch.match?.matchName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatch.team1Player1">Team 1 Player 1</span></dt>
        <dd>
            <div *ngIf="tieMatch.team1Player1">
                <a [routerLink]="['/seasons-franchise-player', tieMatch.team1Player1?.id]">{{tieMatch.team1Player1?.player.firstName}} {{tieMatch.team1Player1?.player.lastName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatch.team1Player2">Team 1 Player 2</span></dt>
        <dd>
            <div *ngIf="tieMatch.team1Player2">
                <a [routerLink]="['/seasons-franchise-player', tieMatch.team1Player2?.id]">{{tieMatch.team1Player2?.player.firstName}} {{tieMatch.team1Player2?.player.lastName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatch.team2Player1">Team 2 Player 1</span></dt>
        <dd>
            <div *ngIf="tieMatch.team2Player1">
                <a [routerLink]="['/seasons-franchise-player', tieMatch.team2Player1?.id]">{{tieMatch.team2Player1?.player.firstName}} {{tieMatch.team2Player1?.player.lastName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatch.team2Player2">Team 2 Player 2</span></dt>
        <dd>
            <div *ngIf="tieMatch.team2Player2">
                <a [routerLink]="['/seasons-franchise-player', tieMatch.team2Player2?.id]">{{tieMatch.team2Player2?.player.firstName}} {{tieMatch.team2Player2?.player.lastName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tie-match/'+ tieMatch.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
