<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySeasonsFranchiseLabel" jhiTranslate="fafiApp.seasonsFranchise.home.createOrEditLabel">Create or edit a Seasons Franchise</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <fafi-alert-error></fafi-alert-error>
        <div class="form-group" [hidden]="!seasonsFranchise.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="seasonsFranchise.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.seasonsFranchise.season" for="field_season">Season</label>
            <select class="form-control" id="field_season" name="season" [(ngModel)]="seasonsFranchise.seasonId"  required>
                <option *ngIf="!editForm.value.season" [ngValue]="null" selected></option>
                <option [ngValue]="seasonOption.id" *ngFor="let seasonOption of seasons; trackBy: trackSeasonById">{{seasonOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.season?.dirty && editForm.controls.season?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.season?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.seasonsFranchise.franchise" for="field_franchise">Franchise</label>
            <select class="form-control" id="field_franchise" name="franchise" [(ngModel)]="seasonsFranchise.franchiseId"  required>
                <option *ngIf="!editForm.value.franchise" [ngValue]="null" selected></option>
                <option [ngValue]="franchiseOption.id" *ngFor="let franchiseOption of franchises; trackBy: trackFranchiseById">{{franchiseOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.franchise?.dirty && editForm.controls.franchise?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.franchise?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.seasonsFranchise.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="seasonsFranchise.ownerId"  required>
                <option *ngIf="!editForm.value.owner" [ngValue]="null" selected></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.owner?.dirty && editForm.controls.owner?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.owner?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.seasonsFranchise.iconPlayer" for="field_iconPlayer">Icon Player</label>
            <select class="form-control" id="field_iconPlayer" name="iconPlayer" [(ngModel)]="seasonsFranchise.iconPlayerId"  required>
                <option *ngIf="!editForm.value.iconPlayer" [ngValue]="null" selected></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.iconPlayer?.dirty && editForm.controls.iconPlayer?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.iconPlayer?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
