
<div *ngIf="match">
    <h2><span jhiTranslate="fafiApp.match.detail.title">Match</span> {{match.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.match.startDateTime">Start Date Time</span></dt>
        <dd>
            <span>{{match.startDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.match.endDateTime">End Date Time</span></dt>
        <dd>
            <span>{{match.endDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.match.matchNumber">Match Number</span></dt>
        <dd>
            <span>{{match.matchNumber}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.match.pointsEarnedByFranchise">Points Earned By Franchise</span></dt>
        <dd>
            <span>{{match.pointsEarnedByFranchise}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.match.tournament">Tournament</span></dt>
        <dd>
            <div *ngIf="match.tournamentId">
                <a [routerLink]="['/tournament', match.tournamentId]">{{match.tournamentType}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fafiApp.match.winningFranchise">Winning Franchise</span></dt>
        <dd>
            <div *ngIf="match.winningFranchiseId">
                <a [routerLink]="['/seasons-franchise', match.winningFranchiseId]">{{match.winningFranchiseFranchiseName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
