<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMatchLabel" jhiTranslate="fafiApp.match.home.createOrEditLabel">Create or edit a Match</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <fafi-alert-error></fafi-alert-error>
        <div class="form-group" [hidden]="!match.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="match.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.startDateTime" for="field_startDateTime">Start Date Time</label>
            <div class="d-flex">
                <input id="field_startDateTime" type="datetime-local" class="form-control" name="startDateTime" [(ngModel)]="match.startDateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.endDateTime" for="field_endDateTime">End Date Time</label>
            <div class="d-flex">
                <input id="field_endDateTime" type="datetime-local" class="form-control" name="endDateTime" [(ngModel)]="match.endDateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.matchNumber" for="field_matchNumber">Match Number</label>
            <input type="number" class="form-control" name="matchNumber" id="field_matchNumber"
                [(ngModel)]="match.matchNumber" required min="1"/>
            <div [hidden]="!(editForm.controls.matchNumber?.dirty && editForm.controls.matchNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.matchNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.matchNumber?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.matchNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.pointsEarnedByFranchise" for="field_pointsEarnedByFranchise">Points Earned By Franchise</label>
            <input type="number" class="form-control" name="pointsEarnedByFranchise" id="field_pointsEarnedByFranchise"
                [(ngModel)]="match.pointsEarnedByFranchise" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.tournament" for="field_tournament">Tournament</label>
            <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="match.tournamentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fafiApp.match.winningFranchise" for="field_winningFranchise">Winning Franchise</label>
            <select class="form-control" id="field_winningFranchise" name="winningFranchise" [(ngModel)]="match.winningFranchiseId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="seasonsFranchiseOption.id" *ngFor="let seasonsFranchiseOption of seasonsfranchises; trackBy: trackSeasonsFranchiseById">{{seasonsFranchiseOption.franchiseName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
