<div class="row">
    <div class="col-md-12">
        <!--<span class="hipster img-fluid rounded"></span>-->
        <!--<div class="container">-->
        <ngb-carousel interval=2000>
            <!--<ng-template ngbSlide *ngFor="let image of images">
                <img class="image-circle img-responsive" [src]="image.src" style="margin:auto;"/>
                <div class="carousel-caption">
                    <h3>{{image.h3Text}}</h3>
                    <p>{{image.pText}}</p>
                </div>
            </ng-template>-->
            <ng-template ngbSlide>
                <img src="../../content/images/1.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>LUDO - Dice Rules</h3>
                    <p>The game of sweet revenge!</p>
                    <a class="morebtn" routerLink="ludo">LEARN MORE</a>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../content/images/2.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>FOOTBALL</h3>
                    <p>Prepare for Combat</p>
                    <a class="morebtn" routerLink="football">LEARN MORE</a>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../content/images/3.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>BADMINTON</h3>
                    <p>Smash like a champion!</p>
                    <a class="morebtn" routerLink="badminton">LEARN MORE</a>
                </div>
            </ng-template>

        </ngb-carousel>
        <!--</div>-->
    </div>
    <div class="clear-fix"></div>
</div>

<div class="row">
    <div class="col-md-12">
		
    </div>
</div>


