<div class="row">
    <div class="col-md-12">
        <!--<span class="hipster img-fluid rounded"></span>-->
        <!--<div class="container">-->
        <ngb-carousel>
            <!--<ng-template ngbSlide *ngFor="let image of images">
                <img class="image-circle img-responsive" [src]="image.src" style="margin:auto;"/>
                <div class="carousel-caption">
                    <h3>{{image.h3Text}}</h3>
                    <p>{{image.pText}}</p>
                </div>
            </ng-template>-->
            <ng-template ngbSlide>
                <img src="../../content/images/1.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>LUDO - Dice Rules</h3>
                    <p>The game of sweet revenge!</p>
                    <a class="morebtn" routerLink="ludo">LEARN MORE</a>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../content/images/2.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>FOOTBALL</h3>
                    <p>Prepare for Combat</p>
                    <a class="morebtn" routerLink="football">LEARN MORE</a>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../content/images/3.jpg" style="width: 100%; height: 500px"/>
                <div class="carousel-caption">
                    <h3>BADMINTON</h3>
                    <p>Smash like a champion!</p>
                    <a class="morebtn" routerLink="badminton">LEARN MORE</a>
                </div>
            </ng-template>

        </ngb-carousel>
        <!--</div>-->
    </div>
    <div class="clear-fix"></div>
</div>

<div class="row" *ngIf="franchises">
    <div class="container">
        <h2>
            <span jhiTranslate="home.teams.title">Teams</span>
        </h2>
        <hr>
        <div class="row cen">
            <div class="col-md-3 flt" style="border-right: 1px dashed #FFF" *ngFor="let franchise of franchises">
                <h4>{{franchise.name}}</h4><h5>{{franchise.owner}}</h5>
                <img [(src)]=franchise.logoPath alt="" class="img-responsive img-team-logo"/>
            </div>
        </div>

        <div class="row cen">
            <div class="col-md-3 flt">
                <!--<h4>Lai Bhaari Gladiators</h4>-->
                <img src="../../content/images/team_logo/LaiBhaariGladiators.png" alt="" class="img-responsive img-team-logo"/>
                <hr>
            </div>
            <div class="col-md-3 flt">
                <!--<h4>Invincibles</h4>-->
                <img src="../../content/images/team_logo/invincible_logo.png" alt="" class="img-responsive img-team-logo"/>
                <hr>
            </div>
            <div class="col-md-3 flt">
                <!--<h4>Targaryens</h4>-->
                <img src="../../content/images/team_logo/targaryens.jpg" alt="" class="img-responsive img-team-logo"/>
                <hr>
            </div>
            <div class="col-md-3 flt">
                <!--<h4>Innocent Killers</h4>-->
                <img src="../../content/images/team_logo/Sneha_Avinash Team logo.png" alt="" class="img-responsive img-team-logo"/>
                <hr>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="about-ff-council" id="about">
            <div class="container">
                <div class="about-para">
                    <h1>About FF-Sports Council</h1>
                    <p>The Sports Council organizes FF events, which are evenly spaced throughout the year. The main objective of the Sports committee is to develop an all-round
                        personality of the team as well as inculcate values like teamwork, co-ordination and leadership while exploring talents. We have events for various sports
                        like football, ludo, badminton, carom, chess etc.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 grid lft">
                        <h4>Mission Statement</h4>
                        <p>You Don't Have To Be Great To Start, But You Have To Start To Be Great.</p>
                    </div>
                    <div class="col-md-4 grid cen">
                        <h4>Sport Solutions</h4>
                        <p>Sports do not build character. <br>They reveal it.</p>
                    </div>
                    <div class="col-md-4 grid rgt">
                        <h4>Committee Members</h4>
                        <p>Rohan D, Ameeth P, Swati J, Neerav K, Chandrashekhar B.</p>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ff-council-sollution">
            <div class="container">
                <h2>FF-Sports Council Solutions</h2>
                <p>Persistence can change failure into extraordinary achievement.</p>
                <a routerLink="/about-us">VIEW MORE</a>
            </div>
        </div>
        <div class="ff-council-services" id="services">
            <div class="container">
                <h3>Services</h3>
                <div class="statistics sap_tabs">
                    <ngb-tabset justify="fill" class="resp-tab-item">
                        <ngb-tab>
                            <ng-template ngbTabTitle>TEAM-SPLITTING</ng-template>
                            <ng-template ngbTabContent class="resp-tab-content">
                                <div class="wmuSlider">
                                    <div class="row">
                                        <div class="col-md-3 flt">
                                            <h4>Lai Bhaari Gladiators</h4>
                                            <img src="../../content/images/team_logo/LaiBhaariGladiators.png" alt="" class="img-responsive img-team-logo"/>
                                            <hr>
                                            <img src="../../content/images/team_owner/archana.jpg" alt="" class="img-responsive img-team-owner"/>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Invincibles</h4>
                                            <img src="../../content/images/team_logo/invincible_logo.png" alt="" class="img-responsive img-team-logo"/>
                                            <hr>
                                            <img src="../../content/images/team_owner/ashwini.png" alt="" class="img-responsive img-team-owner"/>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Targaryens</h4>
                                            <img src="../../content/images/team_logo/targaryens.jpg" alt="" class="img-responsive img-team-logo"/>
                                            <hr>
                                            <img src="../../content/images/team_owner/surbhi.jpeg" alt="" class="img-responsive img-team-owner"/>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Innocent Killers</h4>
                                            <img src="../../content/images/team_logo/Sneha_Avinash Team logo.png" alt="" class="img-responsive img-team-logo"/>
                                            <hr>
                                            <img src="../../content/images/team_owner/sneha.jpg" alt="" class="img-responsive img-team-owner"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <span class="fa fa-quote-left"></span><span style="font-size: larger"> Talent wins games, but teamwork and intelligence wins championships. The more difficult the victory, the
                                    greater the happiness in winning.</span><span class="fa fa-quote-right"></span>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>SPORTS-MEMBERS</ng-template>
                            <ng-template ngbTabContent class="resp-tab-content">
                                <div class="wmuSlider">
                                    <div class="row">
                                        <div class="col-md-3 flt">
                                            <h4>Lai Bhaari Gladiators</h4>
                                            <ul class="grid-1">
                                                <li>Gaurav Ashwin</li>
                                                <li>Ameeth Paatil</li>
                                                <li>Sujay Bawaskar</li>
                                                <li>Sameer Khare</li>
                                                <li>Sourabh Gite</li>
                                                <li>Amol Swami</li>
                                                <li>Mahesh Kulkarni</li>
                                                <li>Pushpendra Kumar</li>
                                                <li>Sumit Desai</li>
                                                <li>Priya Gupta</li>
                                                <li>Chirag Viradiya</li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Invincibles</h4>
                                            <ul class="grid-1">
                                                <li>Rohan D</li>
                                                <li>Gaurav Deshpande</li>
                                                <li>Paras Patel</li>
                                                <li>Rohan Chavan</li>
                                                <li>Sushil Damdhere</li>
                                                <li>Amit Pandhe</li>
                                                <li>Payel Paul</li>
                                                <li>Swati Jha</li>
                                                <li>Eggima Pereira</li>
                                                <li>Prithvi Diwanji</li>
                                                <li>Abhishek Kale</li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Targaryens</h4>
                                            <ul class="grid-1">
                                                <li>Chandrashekhar Bora</li>
                                                <li>Anil Galve</li>
                                                <li>Ankit Agrawal</li>
                                                <li>Tushar Gandhi</li>
                                                <li>Neerav Kulshreshtha</li>
                                                <li>Ashwin Markande</li>
                                                <li>Prakash Jha</li>
                                                <li>Daksha Sadolikar</li>
                                                <li>Paramita Sen</li>
                                                <li>Medha Wagh</li>
                                                <li>Arshi Khan</li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 flt">
                                            <h4>Innocent Killers</h4>
                                            <ul class="grid-1">
                                                <li>Avinash Kelkar</li>
                                                <li>Anand Mattikopp</li>
                                                <li>Akash Chugh</li>
                                                <li>Rishabh Sood</li>
                                                <li>Ajay Patil</li>
                                                <li>Swapnil Thakur</li>
                                                <li>Ashwini Pardeshi</li>
                                                <li>Kishor Khadtare</li>
                                                <li>Sachin Khatavkar</li>
                                                <li>Bapu Labade</li>
                                                <li>Narendra Kumar</li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    <span class="fa fa-quote-left"></span><span style="font-size: large">
                                    Champions aren't made in the gyms. Champions are made from something they have deep inside them — a desire, a dream, a vision. Obstacles don't
                                    have to stop you. If you run into a wall, don't turn around and give up. Figure out how to climb it, go through it, or work around it.
                                </span><span class="fa fa-quote-right"></span>
                                </div>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Gallery</ng-template>
                            <ng-template ngbTabContent class="resp-tab-content">
                                <div class="wmuSlider">
                                    <ngb-carousel>
                                        <!--<ng-template ngbSlide *ngFor="let image of images">
                                            <img class="image-circle img-responsive" [src]="image.src" style="margin:auto;"/>
                                            <div class="carousel-caption">
                                                <h3>{{image.h3Text}}</h3>
                                                <p>{{image.pText}}</p>
                                            </div>
                                        </ng-template>-->
                                        <ng-template ngbSlide>
                                            <img src="../../content/images/1.jpg" style="width: 100%; height: 500px"/>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="../../content/images/2.jpg" style="width: 100%; height: 500px"/>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="../../content/images/3.jpg" style="width: 100%; height: 500px"/>
                                        </ng-template>

                                    </ngb-carousel>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>


            </div>
        </div>
    </div>
</div>

