
<div *ngIf="tieMatchSets">
    <h2><span jhiTranslate="fafiApp.tieMatchSets.detail.title">Tie Match Sets</span> {{tieMatchSets.id}}</h2>
    <hr>
    <fafi-alert-error></fafi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fafiApp.tieMatchSets.setNumber">Set Number</span></dt>
        <dd>
            <span>{{tieMatchSets.setNumber}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatchSets.team1Points">Team 1 Points</span></dt>
        <dd>
            <span>{{tieMatchSets.team1Points}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatchSets.team2Points">Team 2 Points</span></dt>
        <dd>
            <span>{{tieMatchSets.team2Points}}</span>
        </dd>
        <dt><span jhiTranslate="fafiApp.tieMatchSets.tieMatch">Tie Match</span></dt>
        <dd>
            <div *ngIf="tieMatchSets.tieMatch">
                <a [routerLink]="['/tie-match', tieMatchSets.tieMatch?.id]">{{ tieMatchSets.tieMatch?.match?.tournament?.type + '-' +  tieMatchSets.tieMatch?.match?.matchName + ' (' + tieMatchSets.tieMatch?.tieType + ')'}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tie-match-sets/'+ tieMatchSets.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
